.message::before {
  content: open-quote;
  position: absolute;
  top: -37px;
  left: 0;
  color: white;
  font-size: 4rem;
}
.message::after {
  content: close-quote;
  position: absolute;
  bottom: -56px;
  right: 0;
  color: white;
  font-size: 4rem;
}

@media (min-width: 640px) {
  .message::before {
    top: 0;
    font-size: 8rem;
  }
  .message::after {
  bottom: -35px;
  font-size: 8rem;
  }
}
